# macOS
.DS_Store

# Dependencies
node_modules/
__pycache__/
*.pyc
user_avatars/
.collabnote-pids.json

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment files
.env
.env.*
!.env.example